
* {
    margin: 0;
    padding: 0;
}


ul {
    list-style-type: none;
}

.page-content {
    width: 80%; margin: 0 auto;
}


/* notification message*/

.notify {
    width:140px;
    height:18px;
    height:auto;
    display: none;
    position:absolute;
    left:50%;
    margin-left:-100px;
    bottom:50px;
    background-color: #383838;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 15px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}


/* edit_snippet.html */

.page-item {
    margin-bottom: 12px;
    font-size: 13px;
    width: 100%; 
}

.choice-container {
    padding: 10px 0;
    width: 800px; overflow: auto;
}

.choice_go {
    width: 36px; float: left;
}

.choice_name {
    width: 418px; float: left;
}
.choice_name textarea {
    width: 418px; padding: 1px 0;
}

.choice_opts {
    width: 259px; float: left; padding-left: 10px;
}
.choice_opts select {
    width: 259px; height: 34px;
}

.choice_action {
    width: 36px; float: right; text-align: right;
}
.choice_action a {
    color: #000;
}

.choice_remove {
    width: 36px; float: right; text-align: left;
}

.choice-container img {
    width: 24px; height: 24px;
    position: relative; top: 3px;
    margin: 0 0 0 12px;
}

.choice_remove img {
    width: 18px; height: 18px;
    position: relative; top: 6px;
    margin: 0 0 0 12px;
}


/* nav menu */

.menu-container {
    width: 100%; background:#2A3133;
}

.menu-items {
    width: 80%; overflow:auto; color: #fff;
    padding: 10px 10%; border-bottom: 3px solid #1B1E1F;
}

.menu-container a {
    color: #fff; 
}

.menu-container .title {
    width: 50%; float: left; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18px; position: relative; top: 3px; 
}

.menu-container .play-game {
    width: 43%; float: left; text-align: right;
}

.play-game img {
    width: 32px; height: 32px;
}

.menu-container .more {
    width: 7%; float: right; text-align: right;
}

.more img {
    margin-right: 10px; width: 24px; height: 26px; margin-top: 2px;
}

.menu-container .dropdown {
    position: fixed; right: 10%; top: 52px; margin-right: 13px; background: #000;
    border: 1px solid #000;
}

.menu-container .dropdown ul li {
    padding: 8px 0; 
}

.menu-container .dropdown ul li a {
    color: #000; padding: 8px 18px; text-decoration: none; background: #fff; font-size: 14px;
}

.menu-container .dropdown ul li a:hover {
    background: #798285;
}

.menu-container .ddhidden {
    display: none;
}

.page-item .basic_ta {
    width: 100%; padding: 5px 0;
}


/* chapter_detail.html */

.snp {
    width: 19%; float:left; background: #eee; margin-right:1%; height: 200px; margin-top: 10px;
}

.snp-text {
    padding: 10px;
}

.snp:hover {
    cursor: pointer;
}

.new-snippet {
    font-size: 40px; text-align: center; 
}

.add-snippet {
    margin-top: 70px; color: #798285;
}
