{% extends "base.html" %}

{% block navExtra %}
<div class="play-game">
    <a href="{% url 'play' object.story.id %}">
        <img src="/static/icons/play.png">
    </a>
</div>
{% endblock %}

{% block pageContent %}

<div style="width: 100%; overflow:auto; font-family: Tahoma; font-size: 14px;">

	{% for snippet in object.related_snippets.all %}
	<div class="snp snippet" id="{{ snippet.slug }}">
		<div class="snp-text">
			{{ snippet.text|default:'-' }}
		</div>
	</div>
	{% endfor %}
	<div class="snp new-snippet" id="{{ snippet.slug }}">
		<div class="add-snippet">
			+
		</div>
	</div>

	<input type="hidden" name="csrfmiddlewaretoken" class="csrfmiddlewaretoken" value="{{ csrf_token }}">

	<div class="notify"></div>

</div>

<script type="text/javascript">
$(document).ready(function() {

	window.toast = function(text){
		//$(".notify").html(text);
        //$('.notify').fadeIn(400).delay(1500).fadeOut(400); //fade out after 3 seconds
        console.log(text);
	}

	window.loadFancy = function(target_slug){
		$.fancybox({
	        width: 800,
	        height: 500,
	        autoSize: true,
	        title: target_slug,
	        href: '/stories/snippet/' + target_slug + '/edit/',
	        type: 'ajax'
	    });
	}

	$(document).on('click', '.snippet', function(){

		var target_slug = $(this).attr("id");

	    $.fancybox({
	        width: 800,
	        height: 500,
	        autoSize: true,
	        title: target_slug,
	        href: '/stories/snippet/' + target_slug + '/edit/',
	        type: 'ajax'
	    });

	});

	$('.new-snippet').on('click', function(){
        $.ajax({
            method: "POST",
            url: "{% url 'create-snippet' %}",
            data: {
                "chapter_id": '{{ object.id }}',
                "csrfmiddlewaretoken": $(".csrfmiddlewaretoken").val(),
            },
            success:function(data) {
                location.reload();
            } 
        });
	});

});
</script>

{% endblock %}
