<html>
<head>
	<title>CYOA Maker</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/static/fancyBox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/static/fancyBox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<script type="text/javascript">

$(document).ready(function() {
    $('.more').click(function() {
        $('.dropdown').toggleClass('ddhidden');
    });
});

</script>
{% block Js %}
{% endblock %}
</head>
<body>

<div class="menu-container">
    <div class="menu-items">
        <div class="title">
            <a>MadCYOA</a>
        </div>
        <div class="play-game">
            <a href="">
                <img src="/static/icons/play.png">
            </a>
        </div>
        <div class="more">
            <img src="/static/icons/drawer.png">
        </div>
        <div class="dropdown ddhidden">
            <ul>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'create-story' %}">New Story</a></li>
                <li><a href="{% url 'my-stories' %}">My Stories</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="page-cnt">
        {% block pageContent %}
        {% endblock %}
    </div>
</div>

</body>
</html>