<html>
<head>
	<title>CYOA Maker</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/static/fancyBox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/static/fancyBox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">

{% block Js %}
{% endblock %}
</head>
<body>

<div style="width: 100%; overflow:auto; background:#000;">
    <div>menu</div>
    <div>play</div>
    <div><img src="/static/icons/drawer.png"></div>
</div>

<div>
{% block pageContent %}
{% endblock %}
</div>

</body>
</html>