{% extends "base.html" %}

{% block pageContent %}

<div style="width: 100%; overflow:auto; font-family: Tahoma; font-size: 14px;">

	{% for snippet in object.related_snippets.all %}
	<div class="snp" id="{{ snippet.slug }}" style="width: 19%; float:left; background: #eee; margin-right:1%; height: 200px;">
		<div style="padding: 10px;">
			{{ snippet.text }}
		</div>
	</div>
	{% endfor %}

</div>

<script type="text/javascript">
$(document).ready(function() {

	window.loadFancy = function(target_slug){
		$.fancybox({
	        width: 800,
	        height: 500,
	        autoSize: true,
	        title: target_slug,
	        href: '/snippet/' + target_slug + '/edit/',
	        type: 'ajax'
	    });
	}

	$('.snp').on('click', function(){

		var target_slug = $(this).attr("id");

	    $.fancybox({
	        width: 800,
	        height: 500,
	        autoSize: true,
	        title: target_slug,
	        href: '/snippet/' + target_slug + '/edit/',
	        type: 'ajax'
	    });

	});

});
</script>

{% endblock %}
