<div>
	<div>
	<script type="text/javascript">

	$(document).ready(function(){

		function mk_req(){
			$.ajax({
			    type:'POST',
			    url:'http://127.0.0.1:8000/x/',
			    cache:false,
			    success: function(response) {
			        console.log(response);
			    }
			});
		}

		$("#sv_form").on("click", function(){
			console.log("saved");
		});

	});

	</script>
</div>
	<div>
		<div>{{ data }}</div>
		<div>
			<textarea></textarea>
		</div>
		<div>
			<a href="">1</a>
			<a href="">2</a>
		</div>
		<input type="submit" value="save" id="sv_form">
	</div>
</div>